[Desktop Entry]
Type=Application
Name=Scatter Draft
GenericName=Playwriting
Comment=A playwriting and scriptwriting environment built by a playwright.
Exec=/home/ryannlynnmurphy/.local/bin/scatter-app draft 3040 /home/ryannlynnmurphy/projects/scatter/scatter-draft
Icon=/home/ryannlynnmurphy/scatter-system/scatter-bar/icons/bowtie.png
Terminal=false
Categories=Office;WordProcessor;
StartupNotify=true
StartupWMClass=Scatter-Draft
